@model List<InsertStockUnitResponseModel>

<section class="box" style="border-left: 3px solid #e77512;">
    <header class="panel_header">
        <h2 class="title pull-left">Stoklar</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-offset-10 mb-10 "> <a asp-action="InsertStockUnit" asp-controller="StockUnit" class="btn btn-success">Yeni Stok Ekle</a> </div>

            <div class="col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table table-small-font no-mb table-bordered table-striped">
                        <thead>
                            <tr>
                                <th data-priority="1">Birim Kodu</th>
                                <th data-priority="3">Birim Açıklaması</th>
                                <th data-priority="1">Stok Türü</th>
                                <th data-priority="1">Toplam Stok Miktarı</th>
                                <th data-priority="1">Kritik Miktar</th>
                                <th data-priority="1">Sınıf Adı</th>
                                <th data-priority="1">Raf Bilgisi</th>
                                <th data-priority="1">Dolap Bilgisi</th>
                                <th data-priority="1">İşlemler</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th><i class="fa fa-dot-circle-o complete"></i> @item.ID</th>
                                    <th><i class="fa fa-dot-circle-o complete"></i> @item.StockUnitCode</th>
                                    <td><i class="fa fa-dot-circle-o complete"></i> @item.StockTypeName</td>
                                    <td><i class="fa fa-plus complete normal"></i>@item.AmountUnit</td>
                                    <td><i class="fa fa-plus complete normal"></i>@item.PurchasePrice @item.PurchasePriceCurrencyName</td>
                                    <td><i class="fa fa-plus complete normal"></i>@item.SalePrice  @item.SalePriceCurrencyName</td>
                                    <td><i class="fa fa-plus complete normal"></i>@item.PaperWeight</td>
                                    <td><i class="fa fa-plus complete normal"></i>@item.Status</td>
                                    <td><i class="fa fa-plus complete normal"></i>@item.RecordDate</td>
                                    <td>
                                        <i class="fa fa-plus complete normal"></i>
                                        <a asp-action="UpdateStockUnit" asp-controller="StockUnit" asp-route-id="@item.ID" class="btn btn-warning">Düzenle</a>
                                        <a href="" data-toggle="modal" data-target="#DeleteModel" data-deleteStockUnitModal="@item.ID">Sil</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade col-xs-12 in" id="DeleteModel" style="display: block; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Uyarı!</h4>
            </div>

            <div class="modal-body">

                Silmek istediğinizden emin misiniz?

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Hayır Vazgeç</button>
                <button type="button" id="btnDelete" class="btn btn-info">Evet Sil</button>
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DeleteModel").on("show.bs.modal", function (event) {

                let delElement = $(event.relatedTarget);
                let id = delElement.data("deleteStockUnitModal");

                $("#btnDelete").click(function () {
                    $.ajax({
                        type: "Post",
                        url: "./StockUnit/DeleteStockUnit",
                        data: { id: id },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            //alert("işlem tamam");
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }
                    })
                });
            })
        });
    </script>

}