@model UpdateStockResponseModel

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Vertical Form</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-8 col-sm-9 col-xs-10">

                    <form method="post" asp-action="UpdateStock">
                        <input type="hidden" name="form-name" asp-for="ID">
                        <div class="form-group">
                            <label class="form-label" asp-for="StockClassID">Stok Sınıfı *</label>
                            <span asp-validation-for="StockClassID"></span>
                            <select asp-for="StockClassID" class="form-control input-lg m-bot15">
                                
                                @foreach (var item in ViewBag.stockclass)
                                {
                                    if (item.ID == Model.StockClassID)
                                    {
                                        <option value="@item.ID">@item.StockClassName</option>
                                    }
                                    
                                }
                                @foreach (var item in ViewBag.stockclass)
                                {
                                    if (item.ID != Model.StockClassID)
                                    {
                                        <option value="@item.ID">@item.StockClassName</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-label" asp-for="StockTypeID">Stok Türü *</label>
                            <span asp-validation-for="StockTypeID"></span>
                            <select asp-for="StockTypeID" class="form-control input-lg m-bot15">
                                <option value="-1">Bu alan gereklidir</option>
                                @foreach (var item in ViewBag.stocktypes)
                                {
                                    if (item.ID == Model.StockTypeID)
                                    {
                                        <option value="@item.ID">@item.StockTypeName</option>
                                    }
                                }
                                @foreach (var item in ViewBag.stocktypes)
                                {
                                    if (item.ID != Model.StockTypeID)
                                    {
                                        <option value="@item.ID">@item.StockTypeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="StockUnitID">Stok Birim Adı *</label>
                            <span asp-validation-for="StockUnitID"></span>
                            <select asp-for="StockUnitID" class="form-control input-lg m-bot15">
                                <option value="-1">Bu alan gereklidir</option>
                                @foreach (var item in ViewBag.stockUnits)
                                {
                                    if (item.ID == Model.StockUnitID)
                                    {
                                        <option value="@item.ID">@item.StockUnitName</option>
                                    }
                                }
                                @foreach (var item in ViewBag.stockUnits)
                                {
                                    if (item.ID != Model.StockUnitID)
                                    {
                                        <option value="@item.ID">@item.StockUnitName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Amount">Miktar *</label>
                            <span asp-validation-for="Amount"></span>
                            <input asp-for="Amount" type="text" class="form-control" id="field-13">
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="ShelfInformation">Raf Bilgisi *</label>
                            <span asp-validation-for="ShelfInformation"></span>
                            <input asp-for="ShelfInformation" type="text" class="form-control" id="field-13">
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="CabinetInformation">Dolap Bilgisi *</label>
                            <span asp-validation-for="CabinetInformation"></span>
                            <input asp-for="CabinetInformation" type="text" class="form-control" id="field-13" />
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="CriticalAmount">Kritik Miktar *</label>
                            <span asp-validation-for="CriticalAmount"></span>
                            <input asp-for="CriticalAmount" type="text" class="form-control" id="field-13">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary ">Kaydet</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </section>
</div>

@section JavaScript{
    <script src="~/lib/jqueryunob/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jqueryvalidate/jquery.validate.min.js"></script>
}